/*Variáveis*/
:root {
  --bgSite: #d7d4ff;
  --buttonColor: #6c63ff;

  --white: #ffffff;
  --white300: #f9f9f9;

  --title: #2b2b2b;
  --text: #555555;

  --lato: "Lato", sans-serif;
  --merriweather: "Merriweather", serif;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--merriweather);
  color: var(--title);
  background: var(--white);
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}
