/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", sans-serif;
}

a {
  text-decoration: none;
}

button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}
